In [1]:
import pandas as pd
import requests, re

from server import *

In [2]:
df = pd.read_csv('data/matchdetail.csv', index_col=0)

df.head()

,spId,spPosition,spGrade,shoot,effectiveShoot,assist,goal,dribble,intercept,defending,...,ballPossesionSuccess,aerialTry,aerialSuccess,blockTry,block,tackleTry,tackle,yellowCards,redCards,spRating
0,251189332,28,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
0,246168651,11,8,1,1,0,1,244,0,0,...,0,0,0,1,0,0,0,0,0,6.9
0,810199564,3,8,0,0,0,0,37,0,0,...,0,1,1,0,0,0,0,0,0,5.2
0,814204525,6,8,0,0,0,0,34,1,0,...,1,0,0,2,0,1,1,0,0,5.6
0,254000027,28,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [3]:
func = METADATA_FUNCTION['id']

urlString = basic_link + func

response = requests.get(urlString, headers = headers)

card_info = response.json()

card_info_df = pd.DataFrame(card_info)

card_info_df.head()

          id     name
0  100000051   앨런 시어러
1  100000240     로이 킨
2  100000246    폴 스콜스
3  100000250  데이비드 베컴
4  100000388     솔 캠벨

In [4]:
func = METADATA_FUNCTION['sid']

urlString = basic_link + func

response = requests.get(urlString, headers = headers)

season_info = response.json()

season_info_df = pd.DataFrame(season_info)

season_info_df.head()

,seasonId,className,seasonImg
0,100,ICON TM (ICON The Moment),https://ssl.nexon.com/s2/game/fc/online/obt/ex...
1,110,ICON TM(제한) (ICON The Moment Bound),https://ssl.nexon.com/s2/game/fc/online/obt/ex...
2,101,ICON (ICON),https://ssl.nexon.com/s2/game/fc/online/obt/ex...
3,111,ICONS MATCH (ICONS MATCH),https://ssl.nexon.com/s2/game/fc/online/obt/ex...
4,829,GRU (Greatest Runner-Ups),https://ssl.nexon.com/s2/game/fc/online/obt/ex...

In [5]:
df['card_name'] = df['spId'].apply(lambda x:card_info_df[card_info_df['id'] == x]['name'].values[0] 
                                   if not card_info_df[card_info_df['id'] == x].empty 
                                   else "Unknown")

In [6]:
df[df['card_name'] == 'Unknown']

,spId,spPosition,spGrade,shoot,effectiveShoot,assist,goal,dribble,intercept,defending,...,aerialTry,aerialSuccess,blockTry,block,tackleTry,tackle,yellowCards,redCards,spRating,card_name
0,298247738,28,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown
0,298247738,28,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown
0,298247738,28,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown
0,298247738,28,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown
0,298247738,28,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown
0,298247738,28,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown
0,298247738,28,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown
0,298247738,28,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,Unknown

In [7]:
df = df[df['card_name'] != 'Unknown'] # 298247738

In [8]:
df['season_name'] = df['spId'].apply(lambda x:season_info_df[season_info_df['seasonId'] == int(str(x)[:3])]['className'].values[0] 
                                   if not season_info_df[season_info_df['seasonId'] == int(str(x)[:3])].empty 
                                   else "Unknown")

In [9]:
df[df['season_name'] == 'Unknown']

Empty DataFrame
Columns: [spId, spPosition, spGrade, shoot, effectiveShoot, assist, goal, dribble, intercept, defending, passTry, passSuccess, dribbleTry, dribbleSuccess, ballPossesionTry, ballPossesionSuccess, aerialTry, aerialSuccess, blockTry, block, tackleTry, tackle, yellowCards, redCards, spRating, card_name, season_name]
Index: []

[0 rows x 27 columns]

In [10]:
# \s*: 괄호 앞의 공백을 제거
# \(.*?\): 괄호와 괄호 안의 모든 내용을 제거
# "": 제거된 부분을 빈 문자열로 대체
df["cleaned_season_name"] = df["season_name"].apply(lambda x: re.sub(r"\s*\(.*?\)", "", x))

df.head()

,spId,spPosition,spGrade,shoot,effectiveShoot,assist,goal,dribble,intercept,defending,...,blockTry,block,tackleTry,tackle,yellowCards,redCards,spRating,card_name,season_name,cleaned_season_name
0,251189332,28,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,조르디 알바,EBS (European Best Stars),EBS
0,246168651,11,8,1,1,0,1,244,0,0,...,1,0,0,0,0,0,6.9,이반 라키티치,UP (Unsung Players),UP
0,810199564,3,8,0,0,0,0,37,0,0,...,0,0,0,0,0,0,5.2,세르지 로베르토,23 UCL (23 UEFA Champions League),23 UCL
0,814204525,6,8,0,0,0,0,34,1,0,...,2,0,1,1,0,0,5.6,이니고 마르티네스,UT (Unexpected Transfer),UT
0,254000027,28,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,조 콜,CFA (Chelsea FC Ambassador),CFA

In [11]:
# season_name과 card_name 결합
df["season_card"] = df["cleaned_season_name"] + " " + df["card_name"]

In [12]:
df = df[['spId', 'card_name', 'season_name', 'cleaned_season_name','season_card','spPosition', 'spGrade', 'shoot', 'effectiveShoot', 'assist',
       'goal', 'dribble', 'intercept', 'defending', 'passTry', 'passSuccess',
       'dribbleTry', 'dribbleSuccess', 'ballPossesionTry',
       'ballPossesionSuccess', 'aerialTry', 'aerialSuccess', 'blockTry',
       'block', 'tackleTry', 'tackle', 'yellowCards', 'redCards', 'spRating']]

In [13]:
df.head()

,spId,card_name,season_name,cleaned_season_name,season_card,spPosition,spGrade,shoot,effectiveShoot,assist,...,ballPossesionSuccess,aerialTry,aerialSuccess,blockTry,block,tackleTry,tackle,yellowCards,redCards,spRating
0,251189332,조르디 알바,EBS (European Best Stars),EBS,EBS 조르디 알바,28,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
0,246168651,이반 라키티치,UP (Unsung Players),UP,UP 이반 라키티치,11,8,1,1,0,...,0,0,0,1,0,0,0,0,0,6.9
0,810199564,세르지 로베르토,23 UCL (23 UEFA Champions League),23 UCL,23 UCL 세르지 로베르토,3,8,0,0,0,...,0,1,1,0,0,0,0,0,0,5.2
0,814204525,이니고 마르티네스,UT (Unexpected Transfer),UT,UT 이니고 마르티네스,6,8,0,0,0,...,1,0,0,2,0,1,1,0,0,5.6
0,254000027,조 콜,CFA (Chelsea FC Ambassador),CFA,CFA 조 콜,28,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [14]:
len(df)

26938

In [15]:
print(len(df[df['spRating'] == 0])) # 평점 0 = 출전 X

10317

In [16]:
df = df[df['spRating'] != 0] 

df.to_csv('data/eda.csv')

In [17]:
len(df)

16621